@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> _signInManager

<div class="container-fluid  mt-4">
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary mb-1">
                                <center><h1 class="display-6 text-secondary" style="font-family:Bahnschrift SemiBold">Welcome! <i class="fas fa-hand-sparkles"></i></h1> </center>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalAsset"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>