@model Appointment

<div class="accordion mt-4">
    <div class="accordion-item">
        <h1 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Create Appointment
            </button>
        </h1>
        <div class="container-fluid  py-2">
            <div class="row">
                <div class="col-md-12 bg-light rounded">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" aria-current="page">Appointment</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create Appointment</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
            <div class="accordion-body">
                <div class="container-fluid">
                    <form asp-action="Create" method="post" asp-controller="Appointment">
                        <div class="row">
                            <div class="alert alert-info" role="alert">
                                Note: The case represents the Patient's Name and Reason for consultation.
                            </div>
                            <div class="col-md-12">
                                @*<div class="col-md-4">*@
                                <div class="form-group">
                                    <label asp-for="caseId" class="control-label">Select Case</label>
                                    @Html.DropDownList("caseId",ViewBag.optionsForCases as SelectList ,ViewBag.option?[0], new {@class ="form-control"})
                                </div>
                                <div class="form-group">
                                    <label asp-for="DoctorId" class="control-label">Select Doctor</label>
                                    @Html.DropDownList("DoctorId",ViewBag.optionsForDoctor as SelectList ,ViewBag.option?[0], new {@class ="form-control", id = "doctor"})
                                </div>
                                <div class="form-group">
                                    <label asp-for="appointmentDay" class="control-label">Select Appointment Day</label>
                                    <select asp-for="appointmentDay" class="form-control">
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="appointmentime" class="control-label">Appointment Time</label>
                                    <input type="time" asp-for="appointmentime" class="form-control" />
                                    <span asp-validation-for="appointmentime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label">Status</label>
                                    <input type="text" asp-for="Status" value="Ongoing" class="form-control" readonly />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@*
<h1>Create</h1>

<h4>Appointment</h4>
<hr />

<div class="row" style="border:solid;">
    <form asp-action="Create" method="post" asp-controller="Appointment">
        <div class="col-md-4" style="border:solid;">
            <div class="form-group">
                
            </div>
            <div class="form-group">
              
            </div>
            <div class="form-group">
                
            </div>
            <div class="form-group">
              
            </div>
            <div class="form-group">
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
     

   <script></script>